{% extends "base.html" %} {% block title %}Molecular Melting Points Estimation Study{% endblock %} {% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="text-center mb-5">
                <h1 class="fw-bold">Contribute</h1>
                <p class="lead text-muted">We value open-sourcing.</p>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h2 class="h4 fw-bold">Github contribution</h2>
                    <p>
                        We welcome contributions of all kinds from the community. Whether you're looking to fix bugs, add new features, or improve documentation, your help is appreciated!
                    </p>
                    <p>
                        To get started, check out our repository on GitHub at
                        <a href="https://github.com/Guillaume2126/Melting-point-predictor" target="_blank">Melting Point Predictor</a>. You can look through the issues to find something that interests you or create a new one.
                    </p>
                    <p>
                        If you're new to open-source or our project, don't worry! We're more than happy to help newcomers to get started. Thank you for considering contributing to our project. Your support helps us build a better tool for
                        everyone.
                    </p>
                    <p>
                        For major changes, please open an issue first to discuss what you would like to change. This ensures that your contributions can be integrated smoothly and without any conflicts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
